@import 'constants.scss';

.banner{
    height: 200px;
    width: 100%;
    background-color: var(--light_gray_2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}