@import 'constants.scss';

.base-card{
    background-color: var(--white);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--menu_bar_outline_green);
    width: 100%;
}

.input-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.base-input{
    border-radius: 2px;
    border-color: var(--menu_bar_outline_green);
    padding: 8px 5px;
    text-align: center;
    border: none;
    background-color: var(--white);
    color: #000;
    width: 130px;
    height: 100%;
    margin: 0;
}

/*** Search input ***/
.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

