@import 'constants.scss';

.filter-bar{
    background-color: var(--menu_bar_green);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    width: 100%;
    min-width: 100%;
}

@media screen and (max-width: 800px){
    .filter-bar{
        font-size: 12px;
        align-items: flex-start; 
        flex-wrap: wrap;
        width: 100%;
    }
}

/*** elements inside the filter bar are described in the components file ***/


/*** SELECTORS FROM DISCOURSE**/

.list-controls .combo-box .combo-box-header {
    background: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary-medium);
    font-size: var(--font-0);
    transition: none;
    height: 100%;
}