@import 'constants.scss';

.filter-bar{
    background-color: var(--menu_bar_green);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    width: 100%;
    max-width: 1000px;
}

@media screen and (max-width: 800px){
    .filter-bar{
        font-size: 12px;
        align-items: flex-start; 
        flex-wrap: wrap;
        width: 98%;
    }
}


.app-select{
  border-radius: 3px;
}

.app-button{
  border-radius: 3px;
}


.search-input{
  width: 100px;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: var(--white);
}

/*** Search input ***/
.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-input {
  font-size: 16px;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
