@import 'constants.scss';

.forum-layout{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content{
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 1000px;
}

.columns{
    display: flex;
    width: 100%;
    justify-content: space-between;
    // padding: 10px;
    gap:5px;
}

.primary-column{
    display:flex;
    flex-direction: column;
    width: 60%;
    flex: 1;
     gap: 5px
}
.secundary-column{
    display:flex;
    flex-direction: column;
    width: 35%;
    gap: 5px;
}

@media screen and (max-width: 600px) {
    .columns{
        flex-direction: column;
    }

    .primary-column{
        width: 100%;
    }
    .secundary-column{
        width: 100%;
    }
}