@import "constants.scss";

.categories-and-latest div.column, 
.categories-and-top div.column {
    background-color: white;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading
.latest-topic-list-item{
    background-color: var(--white);
    border-radius: 3px;
}