@import "constants.scss";

.list-controls{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    border-radius: $app-borders;
}

.navigation-container{
    background-color: var(--menu_bar_green);
    .category-breadcrumb{
        //this contains the select elements

        li{
            //select
        }
    }
}


/** DROP DOWN LIST**/

.select-kit-collection{
    //ul

    .select-kit-row .category-row .is-highlighted .ember-view{

    }
}