@import "constants.scss";

.list-controls{
    background-color: var(--white);

    @include flex-between;

    padding: 5px;
    gap: 5px;
    border-radius: $app-borders;

    .container{
        @include flex-between;
        &::before,
        &::after{
            @include flex-between;
            width: 100%;
        }
    }
}

.navigation-container{
    background-color: var(--menu_bar_green);
    border-radius: $app-borders;
    width: 100%;

    @include flex-between;

    .category-breadcrumb{
        //this contains the select elements

        li{
            //select
        }
    }
}


/** DROP DOWN LIST**/

.select-kit-collection{
    //ul

    .select-kit-row .category-row .is-highlighted .ember-view{

    }
}