.select-kit-header,
.single-select-header {
    //this affects the tool dropdown btn
}

.category-drop-header,
.combo-box-header{
    //noeffect noticed
}

.list-controls .combo-box .combo-box-header {
    background: aquamarine;
    color: var(--primary);
    border: 1px solid var(--primary-medium);
    font-size: var(--font-0);
    transition: none;
    height: 100%;
}