@import "constants.scss";

.category-list td,
.category-list tbody .category{
    // topic card, start
    background-color: var(--white);
    margin: 2px;
}
 .category-list td
{
    // topic card, end
   border-radius: 0 3px 3px 0;
}


.navigation-categories .category-list:first-child{
    background-color: var(--body_background_pale_green);
}


