@import "constants.scss";

tbody {
    border-top: 3px solid var(--primary-low);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-list td,
.category-list tbody .category{
    // topic card, start & end
    background-color: var(--white);
    flex: 1;
}

/*** CARD (itself) ***/
.category-list tbody .category{
    // topic card, start
    border-radius: 3px 0 0 3px;
}
 .category-list td
{
    // topic card, end
   border-radius: 0 3px 3px 0;
}


.navigation-categories .category-list:first-child{
    background-color: var(--body_background_pale_green);
}


.topic-list-item, tr{
    border-bottom: none;
    display: flex;
}