@import "constants.scss";

tbody {
    border-top: 3px solid var(--primary-low);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.category-list td,
.category-list tbody .category{
    // topic card, start & end
    background-color: var(--white);
    flex: 1;
    box-shadow: 0 0 10px var(--menu_bar_outline_green);
}

/*** CARD (itself) ***/
.category-list tbody .category{
    // topic card, start
    border-radius: 3px 0 0 3px;
    box-shadow: 0 9px 0px 0px rgb(247, 2, 2), 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(224, 114, 239, 0.8);
    
}
 .category-list td
{
    // topic card, end
   border-radius: 0 3px 3px 0;
}


.navigation-categories .category-list:first-child{
    background-color: var(--body_background_pale_green);
}


.topic-list-item, tr{
    border-bottom: none;
    display: flex;
}