
// @import "components.scss";

// @import "filterBar.scss";
// @import "forumLayout.scss";
// @import "footer.scss";
// @import "categoryCard.scss";
// @import "recentPostCard.scss";

/*** APP VARIABLES ***/
@import "constants.scss";

/*** BANNER/ADV ***/
@import "banner.scss";

//NEW working on
/*** SIDEBAR ***/
@import "sidebar.scss";

/*** SECUNDARY NAV BAR ****/
//this is the control of the search and filters of forums
@import "listControls.scss";


// @import "selectKit.scss";
// @import "navItems.scss";

body{
    background-color: var(--discourse_black);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.ember-application{
    //the app main container
    background-color: var(--body_background_pale_green);
}